<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:file:D:\Coding\GeekBrains\Java\PJDI\db\students;MV_STORE=false</property>
        <property name="connection.username">smi</property>
        <property name="connection.password">ims</property>
        <property name="connection.pool_size">8</property>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="format_sql">false</property>
        <property name="use_sql_comments">true</property>
        <property name="current_session_context_class">thread</property>
<!--        <mapping class="lesson5.entities.Student"/>-->
    </session-factory>
</hibernate-configuration>